Java: OAuthSignatureMethod.normalizeParameters realm parameter must be excluded

```
What steps will reproduce the problem?

1. Try to negotiate with Zend framework OAuth implementetation

What version of the product are you using? On what operating system?

latest svn version on linux

Please provide any additional information below.

As stated by RFC 5849 section 3.4.1.3.1 Parameter Sources

The OAuth HTTP "Authorization" header field (Section 3.5.1 
<http://tools.ietf.org/html/rfc5849#section-3.5.1>) if       present.  The 
header's content is parsed into a list of name/value       pairs excluding the 
"realm" parameter if present.  The parameter       values are decoded as 
defined by Section 3.5.1 <http://tools.ietf.org/html/rfc5849#section-3.5.1>. 

Thanks
```

Original issue reported on code.google.com by `carlos.s...@gmail.com` on 17 Dec 2010 at 5:36


Original comment by `morten.f...@gmail.com` on 29 Mar 2011 at 6:03
- Added labels: **Lib-Java**
